* text=auto

*.sh text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.java text eol=lf
*.less text eol=lf
*.css text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.MF text eol=lf
*.txt text eol=lf
LICENSE text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

*.zip binary
*.jar binary
*.class binary
*.docx binary
*.xlsx binary
*.pptx binary
*.odt binary
*.ods binary
*.odp binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary